body, th, td {
	font-family: verdana, Arial, sans-serif;
	font-size: 70%;
}

P, DL, table {
	margin-left: 2em;
	margin-right: 2em;
}

H1, H2, H3, H4, H5, H6 {
	font-family: verdana, Arial, sans-serif;
	color: #000080;
}

H1 {
/* 	font-size: 145%; */
 	font-size: 160%;
}

H2 {
/* 	font-size: 130%; */
 	font-size: 140%;
}

H3 {
	font-size: 115%;
}

H4 {
	font-size: 100%;
}

table {
  	background: #808080;
}

th {
  	background: #C0C0E0;
	font-weight: bold;
}

td {
  	background: #F0F0F0;
}

pre {
  border-style: solid;
  border-width: 1px;
  
  background: #C0C0E0;
  
  font-family: Courier New, Courier, mono;
  font-size: 120%;
  
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  
  margin-left: 4em;
  margin-right: 4em;
}

tt, code {
	font-family: Courier New, Courier, mono;
	font-size: 120%;
	font-weight: bold;
}

strong {
/*	color: #FF0000; */
}