BODY 	{
	font-family: verdana,sans-serif;
	font-size: 80%;
	background: rgb(255,255,255);
}

TT, PRE, CODE	{
	font-family: monospace;
	font-weight: bold;
}

H2, H3, H4, H5, H6 {
	color: #000080;
}

H1	{
	color: #C00000;
	font-size: 240%;
	margin-left: 100pt;
}

H2	{
	font-size: 190%;
	margin-left: 10pt;
}

H3	{
	font-size: 150%;
	margin-left: 30pt;
	font-style: italic;
}

H4	{
	margin-left: 30pt;
}

H5	{
	margin-left: 40pt;
}

H6	{
	margin-left: 50pt;
}

P, DL, UL, LI	{
/*	margin-left: 60pt;*/
	margin-left: 5em;
	margin-right: 60pt;
	}

DD {
	margin-bottom: 15pt;
	margin-top: 5pt;
}

PRE	{
	border: solid;
	border-width: thin;
	width: 40em;
	margin-right: 60 pt;
	background: rgb(200,200,220);
	white-space: pre;
	margin-left: 50pt;
	padding-left: 20pt;
	}