include MANIFEST.in ANNOUNCE
recursive-include py2exe *.h *.c *.ico *.rc *.py *.txt *.vbs
recursive-include source *.h *.c *.ico *.rc *.py *.txt
recursive-include test *.h *.c *.ico *.rc *.py *.txt
recursive-include docs *.txt *.css *.html *.py
